#perms_allocate_title {margin: 0px 100px 0px 150px; font-size: large;line-height: 40px;font-size: 18px;font-weight: bolder;}
#perm_allocation_container_div { border:1px slategrey ;box-shadow:2px 2px 1px 2px #ccc }
#perm_allocation_container_div span.perms_label {margin-left: 20px}