<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>zone_mc</title>
    <link th:href="@{/css/zone/zone.css}" href="../../css/zone/zone.css" rel="stylesheet">
    <link th:href="@{/css/header.css}" href="../../css/header.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" crossorigin="anonymous"></script>

    <script th:href="@{/js/common.js}" src="../../js/common.js"></script>
    <script th:href="@{/js/zone.js}" src="../../js/zone.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
<!-- 公共头 -->
<div th:insert="~{header :: head_nav}"></div>

<div class="container" >
    <div class="row">
        <!-- 左侧树形菜单 容器 -->
        <div id="zone_menu_tree_container_div" class="panel-group menu_shrink col-xs-2 col-sm-2 col-md-2 col-lg-2 no_left_padding">
           <!-- <div class="" id="menu_tree_div">

            </div>-->
        </div>

        <!--  右侧 iframe 内联框架 容器-->
        <div id="zone_iframe_detail_container_div" class="iframe_expansion col-xs-10 col-sm-10 col-md-10 col-lg-10 no_left_padding no_right_padding">
            <iframe id="menu_detail_iframe" name="detail_iframe" src="./system/user.html"></iframe>
        </div>
    </div>
</div>

<!-- 公共尾 -->
<div th:insert="~{footer :: footer}"></div>
</body>
</html>