<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>

<h1>此为首页</h1>

<a href="/toLoginPage" th:href="@{/toLoginPage}">登陆</a>

<div id="firstVideo" class="video">
    <figure>
        <video controls="controls" width="826" height="330" poster="../poster/ghost_walk_poster.jpg" preload="metadata" aria-describedby="full-descript">
            <!--<source type="video/webm" src="https://acornmedia.herokuapp.com/media/tears_of_steel_480.webm" />-->
            <source type="video/mp4" src="../content/ghost_walk.mp4" />

            <!--<track src="subs/TOS-arabic.srt" kind="subtitles" srclang="ar" label="Arabic" />-->
            ...

            You can download Tears of Steel at <a href="http://mango.blender.org/">mango.blender.org</a>.
        </video>
        <figcaption id="full-descript">
            <p><em>"Tears of Steel"</em> was realized with crowd-funding by users of the open source 3D creation tool <a href="http://www.blender.org">Blender</a>. Target was to improve and test a complete open and free pipeline for visual effects in film - and to make a compelling sci-fi film in Amsterdam, the Netherlands. </p>
            <p>(CC) Blender Foundation - <a href="http://www.tearsofsteel.org">http://www.tearsofsteel.org</a></p>
        </figcaption>
    </figure>
</div>
</body>
</html>