<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 网页内容正体 -->
<div class="container" th:fragment="head_nav">
    <div class="row">
        <div id="top_nav_div" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <nav id="top_nav">
                <a id="show_home_page_btn"
                   type="button"
                   class="top_nav_btn btn btn-success  btn-xs" href="/">[[#{message.index.index}]]</a>

                <button id="show_login_form_btn"
                        type="button"
                        class="top_nav_btn btn btn-success  btn-xs"
                        th:if="${session.user == null}">[[#{message.index.login}]]</button>

                <!-- 按钮下拉框 -->
                <div class="btn-group" th:if="${session.user != null}">
                    <button id="show_personal_background_btn"
                            type="button"
                            class="top_nav_btn btn btn-warning dropdown-toggle btn-xs my_btn"
                            data-toggle="dropdown">我的<span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/zone/mc">Zone</a>
                        </li>
                        <li>
                            <a href="#">Hi!~</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/logout">[[#{message.index.logout}]]</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
</div>
</body>
</html>