<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
    <title>Title</title>
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <link th:href="@{/css/login_form.css}" rel="stylesheet">

    <link href="../css/header.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- 首页js -->
    <script src="../js/homepage.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/login/login.js"></script>
    <script type="text/javascript">

        $(function () {
            //$("#carousel_img_div").attr("style","background-image: url('/image/carousel/lunbo_02.png') ; background-size: 750px 300px");
            //alert("aaaa");


        });



    </script>
</head>
<body>
<!-- 公共头 -->
<div th:insert="~{header :: head_nav}"></div>
<!--
<div style="z-index: 50 ;float: left;border: 1px solid red; width:50px; height: 50px"></div>
-->
<div class="container">
    <!-- 首页导航栏 -->
    <div class="row">
        <div id="home_page_top_nav_div" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul id="home_page_top_nav_ul" type="none">
                <li class="across_li">视频</li>
                <li class="across_li">文章</li>
                <li class="across_li">热图</li>
                <li class="across_li">活动</li>
                <li class="across_li">圈子</li>
                <li class="across_li">商城</li>
            </ul>
        </div>
    </div>

    <!-- 登录表单的容器 -->
    <div id="login_form_container" class="vanish">
        <!--<iframe id="login_form_iframe" class="middle_form_iframe " src="./front/fragement/login_form.html"></iframe>-->
        <div id="login_div">
            <form id="login_form" action="" method="post">
                <table>
                    <thead>
                    <tr>
                        <td colspan="2">
                            <div class="user_header_div">
                                <img src="../image/user_header/user_header_icon_02.jpg" height="120" width="120"/>
                            </div>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td width="150px">
                            <div class="username_iocn_div">
                                <img id="user_header_icon_img" src="../image/login_page/username_bg_40x40.jpg" height="40" width="40"/>
                            </div>
                        </td>
                        <td width="270px"><input id="username" name="userName" placeholder="用户名" class="input_text" onblur="showUserHeaderIcon(this)"/></td>
                    </tr>
                    <tr>
                        <td width="150px">
                            <div class="password_iocn_div">
                                <img src="../image/login_page/password_bg_40x40.jpg" height="40" width="40"/>
                            </div>
                        </td>
                        <td width="270px"><input type="password" id="password" name="userPassword" placeholder="密码" class="input_text"/></td>
                    </tr>
                    <tr class="rememberme_tr">
                        <td  align="right">
                            <input type="checkbox" name="rememberMe" checked="true" value="checked"/>
                        </td>
                        <td>记住我</td>
                    </tr>
                    <tfoot>
                    <tr>
                        <td colspan="2">
                            <button id="login_btn" class="login">登陆</button>
                            <button id="regist_btn" class="regist">注册</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>

    <!-- 首页轮播图 -->
    <!-- 轮播图的更新应该是向后台发送ajax请求，请求一组轮播图的图片Url -->
    <div class="row">
        <div id="undecided_01" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        <div id="home_page_carousel_div" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <!-- 轮播图片使用div的background属性制作的， 轮播图片大小限制为 750 * 300 -->
            <div id="carousel_img_div" style="background-image: url('../image/carousel/lunbo_01.jpg')">
                <!-- 轮播图向左向右按钮 -->
                <div class="row">
                    <div id="carousel_previous_div" class="carousel_blank_holder_div col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <button class="carousel_btn previous_carousel_btn glyphicon glyphicon-chevron-left"></button>
                    </div>
                    <div id="carousel_blank_holder" class="carousel_blank_holder_div col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <!--<img id="carousel_img_01" class="carousal_img" src="image/carousel/lunbo_01.png"/>-->
                    </div>
                    <div id="carousel_next_div" class="carousel_blank_holder_div col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <button class="carousel_btn next_carousel_btn glyphicon glyphicon-chevron-right"></button>
                    </div>
                </div>
                <!-- 轮播图下方 切换图片小圆点 -->
                <div class="row">
                    <div id="home_page_carousel_point_div" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span id="hot_title" front="color:write">死飞不回链，生活不回头</span>
                        <div id="carousel_point_box">
                            <span class="carousel_point carousel_active_point"></span>
                            <span class="carousel_point inactive_carousel_point"></span>
                            <span class="carousel_point inactive_carousel_point"></span>
                            <span class="carousel_point inactive_carousel_point"></span>
                            <span class="carousel_point inactive_carousel_point"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="undecided_02" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
    </div>

</div>

<!-- 公共尾 -->
<div th:insert="~{footer :: footer}"></div>

</body>
</html>