<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>zone_system_user</title>
    <link th:href="@{/css/system_user.css}" href="../../../css/zone/iframe_content.css" rel="stylesheet">
    <link th:href="@{/css/system_user.css}" href="../../../css/zone/system/system_role.css" rel="stylesheet">
    <link th:href="@{/ztree/css/zTreeStyle.css}" href="../../../ztree/css/zTreeStyle.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jquery.temp模板库 -->
    <!--<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" crossorigin="anonymous"></script>-->

    <script th:href="@{/js/common.js}" src="../../../js/common.js"></script>
    <script th:href="@{/js/zone/system/user.js}" src="../../../js/zone/system/role.js"></script>
    <script th:href="@{/ztree/js/jquery.ztree.all.js}" src="../../../ztree/js/jquery.ztree.all.js"></script>
    <!--<script th:href="@{/ztree/js/jquery.ztree.excheck.js}" src="../../../ztree/js/jquery.ztree.excheck.js"></script>-->
</head>
<body id="zone_iframe_common">
    <div id="iframe_content_container_div" class="container iframe_content_container no_padding">
        <div class="row offset_margin">
            <!-- 角色操控按钮 新增(弹出模态框)/删除/修改 -->
            <div id="role_manipulate_btn_container_div" class="btn_area col-xs-12 col-sm-12 col-md-12 col-lg-12 condition_search_area less_padding" >

            </div>
        </div>
        <div class="row offset_margin">
            <!-- 角色列表 -->
            <div id="role_list_container_div" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 less_padding" >
                <table id="data_table" class="date_table table table-striped">

                </table>
            </div>
            <!-- 为角色分配权限 -->
            <div id="perm_allocation_container_div" class="vanish col-xs-6 col-sm-6 col-md-6 col-lg-6 less_padding">
                <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 less_padding">
                    <span id="perms_allocate_title">该角色所拥有的权限</span>
                    <button id="role_perms_allocate_btn" class="btn btn-warning btn-xs" onclick="obj.rolePermsAllocate()">执行分配</button>
                    <hr class="less_margin less_padding"/>
                </div>
                <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 less_padding">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 less_padding">
                        <span class="perms_label label label-info">菜单权限</span>
                        <!-- z-tree组件分配菜单权限 -->
                        <ul id="menu_tree" class="ztree">

                        </ul>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 less_padding">
                        <span class="perms_label label label-success">按钮权限</span>
                        <!-- checkbox分配按钮权限 -->
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>