<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>zone_system_user</title>
    <link th:href="@{/css/system_user.css}" href="../../../css/zone/iframe_content.css" rel="stylesheet">
    <link th:href="@{/css/system_user.css}" href="../../../css/zone/system/system_role.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script th:href="@{/js/common.js}" src="../../../js/common.js"></script>
    <script th:href="@{/js/zone/system/user.js}" src="../../../js/zone/system/role.js"></script>
</head>
<body id="zone_iframe_common">
    <div id="iframe_content_container_div" class="container iframe_content_container no_padding">
        <div class="row offset_margin">
            <!-- 角色操控按钮 新增(弹出模态框)/删除/修改 -->
            <div id="role_manipulate_btn_container_div" class="btn_area col-xs-12 col-sm-12 col-md-12 col-lg-12 condition_search_area less_padding" >

            </div>
        </div>
        <div class="row offset_margin">
            <div class="row offset_margin">
                <!-- 角色列表 -->
                <div id="role_list_container_div" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 less_padding" >
                    <table id="data_table" class="date_table table table-striped">
                        <!--<caption>条纹表格布局</caption>-->

                    </table>
                </div>
                <!-- 为角色分配权限 -->
                <div id="perm_allocation_container_div" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 less_padding">
                    <!-- z-tree组件分配权限 -->
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>