<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>zone_system_user</title>
    <link th:href="@{/css/system_user.css}" href="../../../css/zone/system/system_user.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script th:href="@{/js/common.js}" src="../../../js/common.js"></script>
</head>
<body id="zone_iframe_common">

</body>
</html>