<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/header.css}" href="../../css/header.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/login.css}" href="../../css/login.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="webjars/jquery/3.3.1/dist/jquery.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/login/login.js" th:src="@{/js/login/login.js}"></script>
</head>
<body id="login_body">

    <div class="container">
        <!-- 公共头 -->
        <div class="row">
            <div id="top_nav_div" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <nav id="top_nav">
                    <a id="show_home_page_btn"
                       type="button"
                       class="top_nav_btn btn btn-success  btn-xs" href="/">[[#{message.index.index}]]</a>
                </nav>

            </div>
        </div>


        <!--登录页背景图-->
        <div class="row">
            <div id="login_page_bg_img_div" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- 登录from表单 -->
                <div id="login_div" class="login_div">
                    <form id="login_form" action="" method="post">
                    <table>
                        <thead>
                            <tr>
                                <td colspan="2">
                                    <div class="user_header_div">
                                        <img src="../../image/user_header/user_header_icon_02.jpg" height="120" width="120"/>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td width="150px">
                                <div class="username_iocn_div">
                                    <img id="user_header_icon_img" src="../../image/login_page/username_bg_40x40.jpg" height="40" width="40"/>
                                </div>
                            </td>
                            <td width="270px"><input id="username" name="userName" placeholder="username" class="input_text" onblur="showUserHeaderIcon(this)"/></td>
                        </tr>
                        <tr>
                            <td width="150px">
                                <div class="password_iocn_div">
                                    <img src="../../image/login_page/password_bg_40x40.jpg" height="40" width="40"/>
                                </div>
                            </td>
                            <td width="270px"><input type="password" id="password" name="userPassword" placeholder="password" class="input_text"/></td>
                        </tr>
                        <tr class="rememberme_tr">
                            <td  align="right">
                                <input type="checkbox" name="rememberMe" checked="true" value="checked"/>
                            </td>
                            <td id="remember_me_td" class="remember_me">[[#{message.index.remember_me}]]</td>
                        </tr>
                        <tfoot>
                        <tr>
                            <td colspan="2">
                                <button id="login_btn" class="login">[[#{message.index.login}]]</button>
                                <button id="regist_btn" class="regist">[[#{message.index.regist}]]</button>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- 公共尾 -->
<!--<div th:insert="~{footer :: footer}"></div>-->
</body>
</html>